version: '3.9'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - '3000:3000'
    environment:
      NODE_ENV: development
      SERVER_URL: ${SERVER_URL}

      # Чтобы файловые изменения точно ловились внутри Docker (особенно на Windows/Mac)
      CHOKIDAR_USEPOLLING: 'true'
      WATCHPACK_POLLING: 'true'
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
