.timer {
	background-color: #1d5b43;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.timer__header {
	font-size: 24px;
	font-weight: 700;
}

.timer__action {
	font-size: 40px;
	font-weight: 700;

	position: relative;
}

@media (max-width: 560) {
	.timer__header {
		font-size: 18px;
	}

	.timer__action {
		font-size: 32px;
	}
}
