.tariff__img {
	position: relative;
	display: block;

	&::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 100%;
		inset: 0;
	}
}

/* Сброс стандартного оформления чекбокса */
.tariff__input[type='checkbox'] {
	appearance: none;
	border: 1px solid #606566;
	border-radius: 0.25rem;
	cursor: pointer;
	transition:
		color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
	margin: 0;
	/* базовые стили для кастомного оформления */
}

/* Стили для состояния "отмечено" */
.tariff__input[type='checkbox']:checked {
	/* стили для выбранного состояния */
	background: url('/checkbox.png') center no-repeat;
	background-size: 12px;
}

/* Эффект нажатия */
.tariff__input:active {
	filter: brightness(90%);
}

/* Смена цвета границы при наведении */
.tariff__input:hover:not(:disabled) {
	border-color: var(--primary);
}

/* Стили для чекбокса при фокусе */
.tariff__input:focus {
	border-color: var(--primary);
	outline: none;
	box-shadow: 0 0 0 0.25rem rgba(75, 77, 32, 0.25);
}

/* Отключенный чекбокс */
.tariff__input:disabled {
	filter: none;
	opacity: 0.5;
	cursor: not-allowed;
}

.tariff__input:disabled ~ .checkbox-label {
	opacity: 0.5;
	cursor: not-allowed;
}
